# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
rl_venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db

# Matplotlib temp files
.matplotlib

# Logs
*.log 